


* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	padding: 10px;
	font-size: 1.1em;
	text-align: center;
}

img {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

h1,
h2,
h3 {
	text-align: center;
}

a {
	text-decoration: none;
}

.main-nav ul {
	padding-left: 0px;
    list-style-type: none;
}

.button a {
	text-transform: uppercase;
	text-align: center;
	padding: 10px;
	display: block;
}
.button {
	margin: 10px;
}
.button:hover {
	background-color: #F5D0AB;
}

.container {
	width: 100%;
}
.gradient {
	background: linear-gradient(#ABE5F5, #fcfcfc);
}

.nav{
	background-color: #ABE5F5;
}

.bottom-menu {
	border-top: solid 1px lightgrey;
	margin: 50px 20px 60px 20px;
	Padding-top: 50px;
	padding-left: 0px;
}

.bottom-menu li {
	list-style-type: none;
}

.name-bottom {
	
	float: left;
}

.back-top {
	float: right;
}

.bottom-menu-tab {
	display: none;
}

/* ================================= 
  Media Queries
==================================== */
	
 
@media (min-width: 768px) {

	#bottom-menu-2 {
		display: block;
	}
	.container {
		margin: auto;
		width: 90%;
	}
	.main-nav ul {
		text-align: center;
	}
	.main-nav ul li {
		box-shadow: 5px 5px 5px lightgrey;
		background-color: white;
		display: inline-block;
	}
	.profile-img {
		max-width: 40%;
		float: right;
	}
	.my-desc {
		padding-right: 20px;
		margin: 0px;
		text-align: left;
	}

	.description {
		margin-bottom: 50px;
	}
	.description_2,
	.description_3 {
		padding: 0px 35px;
	}
	.col {
		float: left;
		padding-bottom: 40px;
	}

	.skill_img {
		padding: 0 5em;
	}


	.marketing,
	.search,
	.travel,
	.map,
	.photo,
	.calculator,
	.photoshop,
	.illustrator,
	.ae {
		height: 29em;
		width: 50%;
	}
	.ae {
		margin-left: 25%;
	}
	.bottom-menu {
		display: none;
	}

	.main-bottom {
		float: left;
	}
	.main-nav-bottom {
		float:right;
	}
	.button-bottom {
		display: inline-block;
		padding: 10px;
	}
	.bottom-menu-tab {
		margin: 0px 25px;
		margin-bottom: 50px;
		border-top: solid 1px grey;
		Padding-top: 20px;
		padding-left: 0px;
	}

}


@media(min-width: 1024px) {

	#bottom-menu-2 {
		display: block;
	}

	
	footer {
		margin-top: 3em;
	}

	.container {
		margin:0 auto;
		width: 80%;
		max-width: 1150px;
	}

	.name {
		padding-left: 10px;
		float: left;
	}
	.main-nav {
		padding-right: 10px;
		float: right;
	}

	.button {
		display: inline-block;
	}
	.profile-img {
		max-width: 40%;
		float: right;
	}
	.my-desc {
		padding: 10px;
		margin-left: 0px;
		text-align: left;
	}

	.description {
		margin-bottom: 50px;
	}



	.marketing,
	.search,
	.travel,
	.map,
	.photo,
	.calculator,
	.photoshop,
	.illustrator,
	.ae {
		height: 25em;
		width: 33%;
	}

	.ae {
		margin-left: 0;
	}

	.bottom-menu {
		display: none;
	}

	.main-bottom {
		float: left;
	}
	.main-nav-bottom {
		float:right;
	}
	.button-bottom {
		display: inline-block;
		padding: 10px;
	}
	.bottom-menu-tab {
		margin-bottom: 50px;
		border-top: solid 1px grey;
		Padding-top: 20px;
		padding-left: 0px;
	}
	


}




/**-----------------------------FLOAT CLEARFIX ------------------------
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 
 .cf:before,
 .cf:after {
	 content: " "; /* 1 */
	 display: table; /* 2 */
 }
 
 .cf:after {
	 clear: both;
 }
 
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .cf {
	 *zoom: 1;
 }


 